:root {
    --primary-color: #C6426E;
    --secondary-color: #A02D53;
    --background-light: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    --background-dark: linear-gradient(-45deg, #1e1e1e, #2e2e2e);
    --glass-bg-light: rgba(255, 255, 255, 0.4);
    --glass-bg-dark: rgba(30, 30, 30, 0.6);
    --text-color-light: #0b0c3f;
    --text-color-dark: #fff;
    --input-bg-light: rgba(255, 255, 255, 0.8);align-self: start;
    --input-bg-dark: rgba(50, 50, 50, 0.8);
}

* { 
    margin: 0;
    padding: 0;
    font-family: "Bebas Neue", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    background: var(--background-light);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    overflow: hidden;
    font-size: 14px;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

span {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 55em;
    color: #fff;
    user-select: none;
    pointer-events: none;
    line-height: 0.69em;
    width: 100vh; 
    position: absolute;
    text-align: center;
}

h1 {
    padding: 10px 0;
    color: var(--text-color-light);
}

.glass {
    position: absolute;
    width: 600px;
    background: var(--glass-bg-light);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.2);
    border-radius: 50px;
    border-right: 2px solid rgba(255, 255, 255, 0.3);
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    transition: background 0.3s ease;
    display: flex;
    flex-direction: column; 
    align-items: center;
    padding: 35px;
}

body.dark-mode {
    background: var(--background-dark);
}

.glass.dark-mode {
    background: var(--glass-bg-dark);
}

h1.dark-mode, label.dark-mode {
    color: var(--text-color-dark);
}

input {
    width: 100%;
    padding: 10px; 
    margin-top: 5px; 
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    background: var(--input-bg-light);
    color: #A02D53; 
    margin: 13px;
}
input:focus { border: 1px solid #A02D53;}
input.dark-mode {
    background: var(--input-bg-dark);
    color: #fff;
}

label {
    color: var(--text-color-light); 
    font-weight: 400;
    top:10px;
    border: 1px;
    border-style: solid;
    border: #fff;
}
button {
    margin-top: 20px; 
    padding: 10px 20px; 
    border: none; 
    border-radius: 5px; 
    background-color: var(--primary-color); 
    color: #fff; 
    cursor: pointer; 
    transition: background 0.3s ease; 
}

button:hover {
    background-color: var(--secondary-color); 
}

button.dark-mode {
    background-color: #444;
}

button.dark-mode:hover {
    background-color: #555;
}
#modeselection{
    position: absolute;
    top: 0;
    right: 1em;
    background-color: #1e1e1e;
}
#modeselection.dark-mode{ background-color:var(--primary-color);}